/*------------------- Body layoutas-------------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url("https://media.istockphoto.com/id/1369249687/vector/abstract-dash-dot-maze-background.jpg?s=612x612&w=0&k=20&c=XxQQf6V3kG5Ko7YrquavotNoFG0gi_2Sm8GnrSMZIAY=");


}

                                    /* Headeris */

.header {

    grid-column-start: 1;
    grid-column-end: 4;

    width: 98.6%;
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: #fff;
}


nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}


.container {
    width: 100%;
    height: 100%;
    font-family: 'Quicsand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 10px;
    box-sizing: border-box;
    background-color: #457b9d;

}
.container div{
    padding: 10px;
    border: 1px solid black;
    text-align: center;

}

.content-large{
    grid-row-start: 2;
    grid-row-end: span 2;
    justify-items: center;
    align-items: center;
}
.footer{

    grid-column-start: 1;
    grid-column-end: 4;

    width: 98.6%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: #fff;
}

.photo{
    width: 200px;
    height: 200px;
    justify-content: center;
}
.content-large.p{
    align-items: center;
    justify-content: center;

    font-family: 'Quicsand',sans-serif;
    font-weight: bold;
    font-size: 20px;
}
header.highestScore {
    display: block;
    text-align: center;
    margin: 10px auto;
}
