body{
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

hr{
    width: 500px;
}
#errors{
    color: red;
}
.container {
    width: 100%;
    height: 100vh;
    font-family: 'Quicsand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #457b9d;

}

.content-large{
    grid-row-start: 2;
    grid-row-end: span 2;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
}
.content-large.p{
    align-items: center;
    justify-content: center;

    font-family: 'Quicsand',sans-serif;
    font-weight: bold;
    font-size: 10px;
}

/* Headeris */

.header {

    grid-column-start: 1;
    grid-column-end: 4;

    width: 100%;
    height: 79%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    color: #fff;
}


nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}





.footer{

    grid-column-start: 1;
    grid-column-end: 4;


    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
    color: #fff;
}

/* Lentai nustatau po 450px, nes ji bus 9x9, 450/9 = 50px kvadratui */
#board{
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width: 48px;
    height: 48px;
    border: 1px solid black;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


#digits{
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number{
    width: 44px;
    height: 44px;
    border: 1px solid black;

    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected{
    background-color: grey;
}

.tile-start{
    background-color: whitesmoke;
}
.horizontal-line{
    border-bottom: 1px solid black;
}
.vertical-line{
    border-right: 1px solid black;
}

.message-container{
    height: 30px;
}
.message-container p {
    background-color: red;
    border-radius: 20px;
    padding: 8px;
    margin: 0;
}


#check-button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
